h1, h2, h3, p {
  font-family: Helvetica;
}

h1 {
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  background-color: black;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#link {
  color: blue;
}

.price {
  font-weight: bold;
  color: blue;

}
